.banner{
  position: relative;
  .text-banner{
    width:400px;
    position:absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
    h1{
      font-size: 26px;
      strong{
        font-size: 45px;
      }
    }
  }
}
.img-rotate{
  position: relative;
  .col-sm-4{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
  }
  #image-reel{
    cursor:url('../images/drop.png'),move !important;
  }
  #drag{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    img{
      display: inline-block;
      vertical-align: middle;
    }
    p{
      display: inline-block;
    }
  }
}
.reel-panning,.reel-panning *{
  cursor:url('../images/drop.png'),move !important;
}
