.banner{
  position: relative;
  .text-banner{
    width:400px;
    position:absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
    h1{
      font-size: 26px;
      strong{
        font-size: 45px;
      }
    }
  }
}
#contact{
  background-color: #d1334a;
  padding-top: 100px;
  padding-bottom: 100px;
  a{
    color: #fff;
  }
  h2{
    font-weight: bold;
  }
  h2 + p{
    font-size: 18px;
  }
  button{
    background-color: transparent;
    border: 2px solid #fff;
    text-transform: uppercase;
    &:hover{
      opacity: 0.7;
      color: #fff;
    }
  }
  img.center-block{
    margin-bottom: 20px;
  }
  address{
    font-size: 18px;
    margin-bottom: 50px;
    a[href^=tel] {
      font-size: 25px;
    }
  }
  .social{
    padding: 0;
    margin-bottom: 20px;
    li{
      display: inline-block;
      text-decoration: none;
      margin: 0 25px;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .copyright{
    opacity: 0.4;
  }
}
