{% load staticfiles i18n compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}vrhome{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#21184F">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/footer-logo.png' %}"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <!-- Your stuff: Third-party css libraries go here -->
    {% compress css %}
    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}

  </head>

  <body>

    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand visible-xs" href="#">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
              </a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mynavbar" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav mynavbar">
                <li class="active"><a href="#section0">{% trans "Home" %} <span class="sr-only">(current)</span></a></li>
                <li class="divider">|</li>
                <li><a href="#second-section">{% trans "About us" %}</a></li>
                <li class="divider">|</li>
                <li class="mylogo"><a href="#third-section"><img src="{% static 'images/logo.png' %}" alt="Logo"></a></li>
                <li class="divider">|</li>
                <li><a href="#oculus">{% trans "Services" %}</a></li>
                <li class="divider">|</li>
                <li><a href="#contact">{% trans "Contact us" %}</a></li>

              </ul>


            </div>
      </div>
    </nav>

    <div class="">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/components.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
