{% extends "base.html" %}
{% load i18n staticfiles%}

{% block content %}
<div id="fullpage" >
  <section class="banner section"  id="section0">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="text-banner">
            <h1 class="text-purple m-t-0">Consectetur adipiscing<br>
              <strong><span class="text-primary">Nullame pretium</span></strong>
            </h1>
            <p class="text-purple">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit architecto impedit exercitationem odio, facilis voluptatibus deleniti, rerum odit.</p>
            <a href="#" class="btn btn-primary btn-primary-ligth">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="bg-purple text-white p-t-40 p-b-40" id="second-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2 p-t-30">
        <h2 class="text-center m-b-20"><strong>Donec volutpat <span class="text-primary">ornare sapien</span></strong>
        </h2>
        <img src="{% static "images/bathroom.jpg" %}" alt="vrhome" class="center-block img-responsive">
        <p class="text-center m-t-40 m-b-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem perspiciatis temporibus, voluptatibus. Recusandae odio nulla, alias, impedit saepe harum ullam voluptatibus voluptatum consequatur hic labore! Commodi consectetur delectus saepe labore.</p>
        <p class="text-center"><a href="#third-section" class="text-white"><i class="fa fa-arrow-down f-s-35" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</section>
<section class="img-rotate" id="third-section">
  <img src="{% static "images/360.png" %}" class="reel img-responsive" id="image" data-image="{% static "images/360-reel.png" %}" data-orientable="true" data-stitched="1652" width="100%">
  <div class="col-sm-4 col-md-4 text-white">
    <p class="m-0">Estibulum ut</p>
    <h2 class="text-primary m-0">Quisque vehicula</h2>
    <p class="m-t-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, non porro expedita ipsum quae repudiandae beatae provident numquam assumenda recusandae omnis delectus aspernatur. Consequatur ad quidem voluptatem dolore fugit minus!</p>
  </div>
  <div class="text-center text-white" id="drag">
    <img src="{% static "images/drop.png" %}" alt="drop" class="img-responsive center-block">
    <p>Drag to rotate 360</p>
  </div>
</section>
<section id="oculus">
  <img class="img-responsive" src="{% static 'images/background3.png' %}" alt="Background">
  <div class="text-oculus">
    <p class="m-0 text-purple">Estibulum ut</p>
    <h2 class="text-primary m-0">quisque vehicula</h2>
    <p class="m-t-20 text-purple">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, non porro expedita ipsum quae repudiandae beatae provident numquam assumenda recusandae omnis delectus aspernatur. Consequatur ad quidem voluptatem dolore fugit minus!</p>
    <img id="oculus-img" class="img-responsive hidden-xs" src="{% static 'images/oculus.jpg' %}" alt="Oculus Rift">
  </div>

</section>
<section id="contact" class="text-white">
<div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-7">
            <h2 class="text-white">{% trans "Contact us" %}</h2>
            <p class="text-white">
              {% trans "Quos ea dignissimos quod modi architecto aut labore animi fugiat, aliquam odio voluptatem rerum officiis molestias veniam quo ab." %}
            </p>
            <form action="" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="YunOjPCFbJiohumnNsiw9BI8R9Q79hiQ">
              <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Name * ">
              </div>
              <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email * ">
              </div>
              <div class="form-group">
                  <textarea name="message" class="form-control" rows="7" placeholder="Message * "></textarea>
              </div>
              <div class="form-group">
                    <button type="submit" class="btn btn-block">{% trans "Send" %}</button>
              </div>
            </form>
          </div>
          <div class="col-sm-5 text-center m-t-60">
            <img class="img-responsive center-block" src="{% static 'images/footer-logo.png' %}" alt="Footer logo">
            <address>
              Los Angeles, CA, United States<br>
              <a href="tel:+1-213-973-90-42">+1 (213) 973 90 42</a><br>
              <a href="mailto:info@vrhome.com">info@vrhome.com</a><br>
            </address>
            <ul class="social">
              <li><a href="//facebook.com" target="_blank"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="//twitter.com" target="_blank"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="//linkedin.com" target="_blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
            <p class="copyright">Copyright &copy; 2016 - VRHome</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock content %}
{% block extra_js %}
<script>
  $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top - 50
          }, 1000);
          return false;
        }
      }
    });
    $('#fullpage').fullpage({
      anchors: ['firstPage'],
      autoScrolling: false,
      css3: true,
      fitToSection: false
    });
  });
</script>
<script src="{% static "js/jquery-reel.js" %}"></script>
<script>
  $(function(){ // when DOM ready
    return;
    $('#image').reel({
      stitched:    1652,
      orientable:  true,
    });
  });
</script>
<script> $.reel.def.indicator = 0; </script>
{% endblock extra_js %}
