{% extends "base.html" %}
{% load i18n staticfiles%}

{% block content %}
<section class="banner">
  <h1>Consectetur adipiscing<br>
    <strong><span class="text-primary">Nullame pretium</span></strong>
  </h1>
  <p></p>
</section>
<section class="bg-purple">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2 p-t-30">
        <h2 class="text-center">Donec volutpat <strong><span class="text-primary">ornare sapien</span></strong>
        </h2>
        <img src="{% static "images/bathroom.jpg" %}" alt="vrhome" class="center-block img-responsive">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem perspiciatis temporibus, voluptatibus. Recusandae odio nulla, alias, impedit saepe harum ullam voluptatibus voluptatum consequatur hic labore! Commodi consectetur delectus saepe labore.</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
