{% extends "base.html" %}
{% load i18n staticfiles%}

{% block content %}
<section class="banner">
  <h1>Consectetur adipiscing<br>
    <strong><span class="text-primary">Nullame pretium</span></strong>
  </h1>
  <p></p>
</section>
<section class="bg-purple text-white p-t-40 p-b-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2 p-t-30">
        <h2 class="text-center m-b-20"><strong>Donec volutpat <span class="text-primary">ornare sapien</span></strong>
        </h2>
        <img src="{% static "images/bathroom.jpg" %}" alt="vrhome" class="center-block img-responsive">
        <p class="text-center m-t-40 m-b-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem perspiciatis temporibus, voluptatibus. Recusandae odio nulla, alias, impedit saepe harum ullam voluptatibus voluptatum consequatur hic labore! Commodi consectetur delectus saepe labore.</p>
        <p class="text-center"><i class="fa fa-arrow-down f-s-35" aria-hidden="true"></i></p>
      </div>
    </div>
  </div>
</section>
<section class="img-rotate">
  <div class="container">
    <div class="row p-t-40">
      <div class="col-sm-4 col-md-4">
        <p class="m-0">Estibulum ut</p>
        <h2 class="text-primary m-0">quisque vehicula</h2>
        <p class="m-t-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, non porro expedita ipsum quae repudiandae beatae provident numquam assumenda recusandae omnis delectus aspernatur. Consequatur ad quidem voluptatem dolore fugit minus!</p>
      </div>
    </div>
  </div>
  <p class="text-center"><i class="fa fa-arrows-h f-s-35" aria-hidden="true"></i></p>
</section>
{% endblock content %}
